<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Reset Password</title>
    <style>
        /*login page css start*/

        .banner {
            background: #fff;
        }

        .main-banner {
            display: flex;
        }

        .main-banner-left {
            display: flex;
            justify-content: center;
            width: 40%;
            height: 100vh;
            text-align: center;
            align-items: center;
            background-color: #0C8A7B;
        }

        .main-banner-right {
            width: 60%;
            height: 100vh;
            display: flex;
            justify-content: center;
            flex-direction: column;
            max-width: 600px;
            margin: auto;
            text-align: left;
            position: relative;
        }

        .main-banner-right h1 {
            font-weight: 600;
            font-size: 36px;
            line-height: 54px;
            color: #000;
        }

        .main-banner-right h1 strong {
            color: #0C8A7B;
            font-weight: 600;
        }

        .main-banner-right h1 strong span {
            color: #FF9C1C;
            font-weight: 600;
        }

        .main-banner-right p {
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: #737373;
        }

        .main-banner-right .pwd {
            border: 2px solid #EAF0F7;
            width: 100%;
            height: 50px;
        }

        .main-banner-right .btn.btn-primary {
            width: 100%;
            background: #0C8A7B;
            box-shadow: 0px 4px 21px rgba(12, 138, 123, 0.2);
            border-radius: 10px;
            margin-top: 30px;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            height: 55px;
        }

        .main-banner-right .btn-primary:hover {
            color: #fff;
            background-color: #0C8A7B;
            border-color: #0C8A7B;
        }

        .password-container {
            position: relative;
        }

        .toggle-password {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
        }

        .alert {
            position: fixed;
            top: 0;
            right: 0;
            width: 30%;
            background-color: red;
            color: rgb(0, 0, 0);
            text-align: center;
            padding: 15px;
            margin: 10px;
            font-weight: bold;
        }

        /*login page css close*/
    </style>

</head>

<body>
    <section class="banner">
        <div class="main-banner">
            <div class="main-banner-left">
                <div class="main-left">
                    <img src="http://localhost:3000/logo.png">
                </div>
            </div>
            <div class="main-banner-right">
                <h1>Reset Password</h1>
                <form action="" method="post" onsubmit="return validateForm()">
                    <label for="new_password">Password:</label><br>
                    <div class="password-container">
                        <input type="password" name="new_password" class="pwd" id="new_password">
                        <span class="toggle-password" onclick="togglePasswordVisibility('new_password')">
                            <i class="far fa-eye"></i>
                        </span>
                    </div>
                    <br>
                    <label for="confirm_password">Confirm Password:</label><br>
                    <div class="password-container">
                        <input type="password" name="confirm_password" class="pwd" id="confirm_password">
                        <span class="toggle-password" onclick="togglePasswordVisibility('confirm_password')">
                            <i class="far fa-eye"></i>
                        </span>
                    </div>
                    <br>
                    <input type="submit" value="Reset Password" class="btn btn-primary">
                </form>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script>
        function togglePasswordVisibility(passwordFieldId) {
            var passwordField = document.getElementById(passwordFieldId);
            var icon = passwordField.parentNode.querySelector('.toggle-password i');

            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                icon.classList.remove('far', 'fa-eye');
                icon.classList.add('far', 'fa-eye-slash');
            } else {
                passwordField.type = 'password';
                icon.classList.remove('far', 'fa-eye-slash');
                icon.classList.add('far', 'fa-eye');
            }
        }


        function togglePasswordVisibility(passwordId) {
            const passwordInput = document.getElementById(passwordId);
            const passwordType = passwordInput.getAttribute('type');
            const togglePasswordIcon = passwordInput.nextElementSibling.firstElementChild;

            if (passwordType === 'password') {
                passwordInput.setAttribute('type', 'text');
                togglePasswordIcon.classList.remove('fa-eye');
                togglePasswordIcon.classList.add('fa-eye-slash');
            } else {
                passwordInput.setAttribute('type', 'password');
                togglePasswordIcon.classList.remove('fa-eye-slash');
                togglePasswordIcon.classList.add('fa-eye');
            }
        }

        function validateForm() {
            const newPassword = document.getElementById('new_password').value;
            const confirmPassword = document.getElementById('confirm_password').value;

            if (newPassword !== confirmPassword) {
                showAlert('Password does not match');
                return false;
            }

            return true;
        }

        function showAlert(message) {
            const alertBox = document.createElement('div');
            alertBox.classList.add('alert');
            alertBox.textContent = message;
            document.body.appendChild(alertBox);

            setTimeout(function () {
                alertBox.style.display = 'none';
            }, 1500);
        }
    </script>
</body>

</html>